@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
}

.wrapper {
    height: max-content;
}


.header-block {
    height: 962px;
    padding: 0px 56px;

    background: url("../img/Image.png") no-repeat;
    background-size: cover;
}


/*=============================Header===============================*/
header {
    max-width: 1060px;
    padding-top: 56px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
    margin-bottom: 176px;
}

.menu-block ul {
    display: flex;
    gap: 82px;

    list-style: none;
}

.menu-block ul li a {
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;

    color: white;
}

.menu-block ul li a:hover {
    color: rgba(255, 255, 255, 0.79);
}

.input-menu,
.close-menu-btn {
    display: none;
}

/*===============================Text Header==============================*/
.text-block {
    max-width: 1060px;
    margin: 0px auto;
    margin-bottom: 59px;

    color: white;
}

.text-block h1{
    max-width: 650px;
    font-size: 50px;
}

.text-block p{
    max-width: 550px;
    font-size: 16px;
}


/*==============================Search============================*/
.search-block {
    max-width: 1060px;
    margin: 0px auto;

    display: flex;
}

.search-block form {
    display: flex;
}

.container {
    margin-right: 61px;
    font-size: 18px;

    color: white;
}

.container input {
    margin-right: 20px;

    width: 16px;
    height: 16px;
}

.bottom-blok {
    width: 100%;
    height: 1px;
    margin-top: 22px;

    background-color: white;
}

.button-search {
    width: 170px;
    height: 50px;
    font-size: 20px;

    background-color: #1B7DFF;
    color: white;
    border: none;
    cursor: pointer;
}

.button-search:active {
    background-color: #1666cf;
}


/*==============================Benefits=============================*/
.benefits-block {
    position: relative;
    max-width: 1160px;
    margin: 0px 56px;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 100px;

    top: -150px;

    background-color: white;
    box-shadow:  10px 1px 50px 5px black
}

.benefits-block h1 {
    margin-bottom: 120px;
    font-size: 35px;
}

.container-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px;
}
  
.column-cart {
    max-width: 317px;
    height: max-content;
}

.logo-cart {
    width: 66px;
    height: 66px;
}

.cart h3 {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: 700;
}

.cart p {
    max-width: 300px;
    font-size: 16px;
}

.cart h2 {
    margin-top: 40px;
    font-size: 16px;
    color: #006DFE;

    cursor: pointer;
}

.cart h2 span {
    margin-left: 20px;
    transition: 0.4s;
}

.cart h2 span:hover {
    margin-left: 25px;
    transition: 0.4s;
}


/*===========================Photo=============================*/
.photo-block {
    max-width: 1360px;
    margin: 0px auto;
    margin-bottom: 130px;
    padding: 0px 20px;
}

.title-block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 35px;
}

.title-block h1 {
    font-size: 35px;
}

.block-blue {
    width: 250px;
    height: 2px;

    background-color: #006DFE;
}

.button {
    display: flex;
}

.button h2 {
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    display: flex;

    color: #006DFE;
}

.button h2 span {
    margin-left: 10px;
}

.grid-container-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки з однаковою шириною */
    grid-gap: 10px; /* відступи між елементами сітки */
    margin-bottom: 10px;
}
  
.grid-item-top {
    position: relative;
    cursor: pointer;
    height: 364px;
    background-color: #ccc; /* колір фону для елементів сітки */
}

.grid-item-top
.grid-item-botton {
    transition:  transform 0.3s;
}

.mount-photo {
    background-image: url("../img/Mount.png");
    background-size: cover;

}

.kyoto-photo {
    background-image: url("../img/Kyoto.png");
    background-size: cover;
}

.grid-item-top:hover,
.grid-item-botton:hover {
    transform: scale(1.02);
}


.grid-item-top h1,
.grid-container-botton h1 {
    position: absolute;
    bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;

    color: white;
}

.grid-container-botton {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 колонки з однаковою шириною */
    grid-gap: 10px; /* відступи між елементами сітки */
}
  
.grid-item-botton {
    position: relative;
    cursor: pointer;
    height: 283px;
    background-color: #ccc; /* колір фону для елементів сітки */
}

.tokyo-photo {
    background-image: url("../img/Tokyo.png");
    background-size: cover;
}

.niigata-photo {
    background-image: url("../img/Niigata.png");
    background-size: cover;
}

.sapporo-photo {
    background-image: url("../img/Sapporo.png");
    background-size: cover;
}



/* ======================================Info================================ */
.info-block {
    max-width: 1360px;
    margin: 0px auto;
    padding: 0px 40px;
}

.header-info-block,
.bottom-info-block {
    display: flex;
    margin-bottom: 75px;
}


.column {
    flex-basis: 50%;
}

.info-home-img {
    width: 600px;
    height: 350px;
}

.column-text {
    padding: 50px;
}

.bottom-info-block .column-text {
    padding-left: 0px;
}

.column-text h1 {
    font-size: 30px;
    margin-bottom: 85px;
}

.column-text p {
    font-size: 16px;
    padding-right: 20px;
}

.button {
    height: 60px;
}

.arrow {
    width: 40px;
    height: 60px;
}
  
  
/*============================Mobile=============================*/
@media(max-width: 816px) {

    /*=============================Header===============================*/
    .header-block {
        position: relative;
        z-index: 9999;
        margin-top: 62px;
        background: url(../img/Image.png) center;
    }

    header {
        position: absolute;
        position: fixed;
        padding: 0px 5px;
        top: -1px;
        left: 0px;
        width: 100%;
        background: rgb(0, 0, 0);
    }

    .menu-toggle {
        display: block;

        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .input-menu {
        display: none;
    }

    .menu-toggle label {
        display: block;
        font-size: 2rem;
        line-height: 1;
        padding: 1rem;
        cursor: pointer;
    }

    .menu-block {
        position: absolute;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        background: rgb(66,68,78);
        background: linear-gradient(0deg, rgba(66,68,78,0.7484243697478992) 0%, rgba(0,0,0,1) 100%);
        overflow-y: scroll;
        transition: all 0.3s ease-in-out;
        z-index: 999;
    }

    .menu-toggle-checkbox {
        color: white;
    }

    .menu-block.show-menu {
        width: 100%;
    }

    .menu-block nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .menu-block ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-block li {
        text-align: center;
        margin-bottom: 5rem;
    }

    .menu-block a {
        font-size: 2rem;
        text-transform: uppercase;
        color: #333;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .menu-block a:hover {
        color: #777;
    }

    .close-menu-btn {
        display: block;
        border: none;
        font-size: 16px;

        color: white;
        background-color: rgba(255, 255, 255, 0);
    }

      
    
    /*==============================Search============================*/
    .search-block,
    .search-block form {
        display: block;
    }

    .search-block form {
        margin-bottom: 20px;
    }

    .container {
        margin-bottom: 20px;
    }

    .bottom-blok {
        display: none;
    }



    /*==============================Benefits=============================*/
    .benefits-block {
        top: -30px;
        text-align: center;
        padding: 50px;
    }

    .container-cart{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 55px;
    }

    .column-cart {
        margin: 0px auto;
    }

    .benefits-block,
    .photo-block {
        margin: 0px 20px;
    }



    /*===========================Photo=============================*/
    .text h1 {
        font-size: 20px;
    }

    .block-blue {
        width: auto;
    }

    .grid-container-top,
    .grid-container-botton {
        display: block;
    }

    .grid-item-top,
    .grid-item-botton {
        margin-bottom: 10px;

    }

    /* ======================================Info================================ */
    .info-block {
        margin-top: 250px;
    }

    .header-info-block,
    .bottom-info-block {
        display: block;
    }

    .header-info-block {
        margin-bottom: 0px;
    }

    .bottom-info-block {
        display: flex;
        flex-direction: column;
    }

    .info-home-img,
    .info-stairs-img {
        width: 100%;
        height: auto;
    }

    .column-text {
        padding-left: 0px;
    }

    .column-text h1 {
        margin-bottom: 0px;
    }

    .first {
        order: 2;
    }

    .second {
        order: 1;
    }
}


